<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Contact</button>
  </li>
</ul> -->
<!-- <app-car></app-car> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-form></app-form> -->
<!-- <table>
  <tr>
    <td scope="col">Full Name</td>
    <td scope="col">mobile</td>
    <td scope="col">email</td>
    <td scope="col">password</td>
    <td scope="col">Edit</td>
    <td scope="col">Delete</td>
  </tr>
<tbody>
  <tr *ngFor="let user of allUser">
  <td>{{user.name}}</td>
  <td>{{user.mobile}}</td>
  <td>{{user.email}}</td>
  <td>{{user.password}}</td>
  <td><button class="btn btn-warning">Edit</button></td>
  <td><button class="btn btn-danger">Delete</button></td>
</tr>
</tbody>
</table> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactive-form></app-reactive-form>
<app-style></app-style>
<app-ngclass></app-ngclass> -->

<!-- <p appCustom>Custom dirictive para</p>
<app-reactive-form></app-reactive-form> -->
<!-- <app-templete-form></app-templete-form>


<nav>

  <ul class="nav nav-tabs">

    <li class="nav-item"><a  routerLinkActive="active myclass" routerLink="about-us" class="nav-link">About Us</a></li>

    <li class="nav-item"><a routerLinkActive="active myclass"  routerLink="contact-us" class="nav-link">Contact Us</a></li>

    <li class="nav-item"><a routerLinkActive="active myclass"  routerLink="product" class="nav-link">Product</a></li>
    <li class="nav-item"><a   routerLinkActive="active myclass" routerLink="posts" class="nav-link">Posts</a></li>
  </ul>

</nav>

 <router-outlet></router-outlet> 

 <app-binding></app-binding> -->

 <!-- <app-child-component [uname]="Title"></app-child-component> -->

 <!-- <app-child-component (notify)="parentMEthod($event)"></app-child-component> -->

 <!-- <h1>{{parentMEthod}}</h1> -->



 <!-- <app-templete-form></app-templete-form> -->

 <!-- <app-service-component></app-service-component> -->

 <li class="nav-item"><a routerLinkActive="active myclass"  routerLink="contact-us" class="nav-link">Contact Us</a></li>

 <app-templete-form></app-templete-form>